body {
  font-family: Helvetica;
}

#canvas {
  position: absolute;
  z-index: 0;
  width: 800px;
  height: 600px;
}

#racer {
  position: absolute;
  z-index: 0;
  width: 800px;
  height: 600px;
  margin-left: 20em;
  border: 2px solid black;
}

#instructions {
  float: left;
  width: 17em;
  padding: 1em;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}
