body {
  font-family: Helvetica;
}

#canvas {
  position: absolute;
  z-index: 0;
  width: 640px;
  height: 480px;
}

#racer {
  position: relative;
  z-index: 0;
  width: 640px;
  height: 480px;
  margin-left: 20em;
  border: 2px solid black;
}

#instructions {
  float: left;
  width: 17em;
  padding: 1em;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}

#fps {
  display: none;
}

#controls th  {
  text-align: right;
  vertical-align: middle;
  /* margin-top: 20em; */
}

#controls {
  /* margin-top: 20em; */
}

#mute {
  background-position:   0px 0px;
  width: 32px;
  height: 32px;
  background: url(images/mute.png);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  margin-left: 20em;
}

#mute.on {
  background-position: -32px 0px;
}
